[Internal]

# Setting type: Vector2
# Default value: {"x":5.0,"y":5.0}
MainWindowPosition = {"x":1061.0,"y":335.0}

# Setting type: Vector2
# Default value: {"x":1520.0,"y":5.0}
ItemGiverPosition = {"x":707.0,"y":227.0}

# Setting type: Boolean
# Default value: false
PermanentPins = false

# Setting type: Boolean
# Default value: false
RadiusEnabled = false

# Setting type: Single
# Default value: 5
RadiusValue = 5

